{%extends "base.html"%}
{%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuga Admin</title>
</head>

<body>
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }} text-success">{{ message }}</li>
            {% endfor %}
        </ul>
        {%endif%}
        <a href="{% url 'register_vet' %}">
            Add Vet
        </a>
        <div class="table table-striped w-full">
            <table class="table">
                <thead>
                    <tr>
                        <th class="h5">#</th>
                        <th class="h5">Full name</th>
                        <th class="h5">Email Address</th>
                        <th class="h5">Id Number</th>
                        <th class="h5">Phone Number</th>
                        <th class="h5">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for vet in vets%}
                    <tr>
                        <td>{{vet.id}}</td>
                        <td>{{vet.name}}</td>
                        <td>{{vet.email}}</td>
                        <td>{{vet.id_no}}</td>
                        <td>{{vet.phone_number}}</td>
                        <td>
                            <div class="row">
                                <div class="col-sm">
                                    <a href="{%url 'update_vet' vet.id%}"><i class="fas fa-pen-square"></i></a>
                                </div>
                                <div class="col-sm">
                                    <a href="{%url 'delete_vet' vet.id%}"><i class="fas fa-trash-alt text-danger"></i></a>
                                </div>
                            </div>

                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>
{%endblock content%}